
body,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
input,
p,
div,
blockquote,
th,
td {
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h4,
h5 {
    margin: 0;
    padding: 0;
}




fieldset,
img {
    border: 0 none;
}

fieldset {
    margin: 0;
    padding: 0;
}

fieldset p {
    margin: 0;
    padding: 0 0 0 8px;
}


address,
caption,
em,
strong,
th,
i {
    font-style: normal;
    font-weight: 400;
}


ol,
ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

